<!-- Account Summary Page -->
<br><br>
<br>
<div class="row col-md-12">
 <div height: 80px; width: 40% ;align="center" background-color: powderblue;class="login" ng-controller="AcctCtrl">
   
        <h3>Account Summary</h3><br><br> 
        <div align="center">
        Account No: <input type="text" ng-model="string" name="accountnumber"></input><br><br>
        Name: <input type="text" ng-model="string" name="customername"></input><br><br>
        Branch : <input type="text" ng-model="string" name="branch"></input><br><br>
        Balance : <input type="text" ng-model="string" name="balance"></input><br><br>        
  </div>
</div>